<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página sobre nós</title>
  </head>
  <body>
    <h2>Página não encontrada ...</h2>
    <main>
      <img
        src="https://static.vecteezy.com/ti/vetor-gratis/p1/8255803-page-not-found-error-404-system-updates-uploading-computing-operation-installation-programs-system-maintenance-a-hand-drawn-vector-layout-template-of-a-broken-robot-vector-ilustracao-vetor.jpg"
        alt=""
      />
    </main>
  </body>
</html>
