<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página sobre nós</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background-color: yellow;
      }
      .menu {
        background-color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <nav class="menu">
      <img
        src="https://seeklogo.com/images/S/Subaru-logo-A6B7CD5B34-seeklogo.com.png"
        alt="logo site"
      />
      <ul>
        <a href="/">HOME</a>
        <a href="/sobre">SOBRE NOS</a>
      </ul>
    </nav>
  </body>
</html>
